#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Use CDROM installation media
url --url="https://mirror.its.sfu.ca/mirror/CentOS/7/os/x86_64/"
# Use graphical install
graphical
# Run the Setup Agent on first boot
firstboot --enable

# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=enp0s3 --onboot=on --ipv6=auto --no-activate
network  --hostname=lnx-pxe

# Root password
rootpw --iscrypted $6$1eInoK7RUUZ3Yc5S$htHeO.2nezlPWmNNMh3jEgeFqWBzwvymy3XoKCV7Ut9TwBWAa.xSOok2WvcN4hKkmtYr6uyuShp/Pd1oqnLGx0
# System services
services --enabled="chronyd"

# System timezone
timezone America/Vancouver --isUtc
user --groups=wheel --name=nasp --password=$6$iJurFvsyDUSpbPyb$Eew8Sz/xmXxxAOIhvO3CVN187YNTO5jsO5EN5pF0yZAARFf2B9d3rumqpuKUvRiWsbhR/ex0W1h4Hpo8nQQfO1 --iscrypted --gecos="nasp"

# Partition clearing information
clearpart --drives=sda --all
autopart --type=lvm

#reboot systemct after install
reboot

%packages
@^minimal
@core
chrony
kexec-tools

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end

%post
#yum -y update
yum -y install epel-release
yum install -y docker
mkdir /proxysrv
#cp http://10.220.109.110/Dockerfile /proxysrv
#cd /proxysrv
#systemctl enable --now docker
#docker build . -t proxysrv
#docker run proxysrv
%end
